container_commands:
  01_setup_cron:
    command: |
      echo '#!/bin/bash' > /tmp/myscript.sh
      echo 'date >> /tmp/cronlog.txt' >> /tmp/myscript.sh
      chmod +x /tmp/myscript.sh
      echo '* * * * * root /tmp/myscript.sh' > /tmp/mycron
      sudo cp /tmp/mycron /etc/cron.d/mycron
      sudo chmod 644 /etc/cron.d/mycron